body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #0F0F11;
}

.navigation-container {
  width: 15%;
  max-width: 100px;
  min-width: 70px;
  border: 1px solid #1C1C1C;
}

.navigation {
  color: white;
  margin-top: 30px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo i {
  font-size: 30px;
}

.home-link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-right: 3px solid #00ADFF;
  height: 40px;
  align-items: center;
}

.home-link i {
  color: #00ADFF;
}

.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #979797;
}

.tweets-search-container {
  margin: 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #979797;
}

.tweets-search-container input {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.tweets-search-container input:focus {
  outline: none;
}

.tweets-search-container i {
  color: white;
  font-size: 30px;
  padding-left: 10px;
}

.main {
  flex: 1.5;
  display: flex;
  flex-direction: column;
}

.tweets-sidebar-container {
  background-color: blueviolet;
  flex: 0.5;
  display: flex;
}

.tweets-sidebar {
  width: 130px;
  height: 500px;
  margin: 20px;
  background-color: bisque;
}

.tweets-list {
  margin: 20px;
}