.tweet-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #1C1C1C;
  border-radius: 20px;
  overflow: hidden;
}

.tweet-user-info {
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.tweet-images-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  height: 200px;
  border: 1px solid #1C1C1C;
  border-radius: 20px;
}

.tweet-text-container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  overflow-y: hidden;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.74);
}

.tweet-date-container {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #47525D;
  font-size: 10px;
}

.tweet-user-profile {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid #979797;
  border-radius: 50%;
}

.tweet-user-name-container {
  color: white;
  margin-left: 8px;
}

.tweet-user-fullname {
  font-size: 10px;
}

.tweet-user-username {
  font-size: 8px;
}